---
import Layout from "../layouts/Layout.astro";

const resSales = await fetch('http://localhost:8081/v1/sales');
 if (!resSales.ok) {
  throw new Error(`Error al obtener ventas: ${resSales.status}`);
}
const dataSales = await resSales.json();


const resProducts = await fetch('http://localhost:8081/v1/products');
 if (!resProducts.ok) {
  throw new Error(`Error al obtener productos: ${resProducts.status}`);
}
const dataProducts = await resProducts.json();

interface Product {
  id: string;
  name: string;
  description: string;
  price: number;
  stock: number;
}

interface Sale {
  id: string;
  product_id: string;
  quantity: number;
  total_price: number;
  sale_date: string;
}

const productos : Product[] = dataProducts.products.sort((a: { name: string; }, b: { name: any; }) => a.name.localeCompare(b.name));
const sales: Sale[] = dataSales.sales.sort((a: { sale_date: string; }, b: { sale_date: any; }) => a.sale_date.localeCompare(b.sale_date));
---
<Layout title="Ventas">
  <div class="content">
  <h1>Registro de ventas</h1>
  <button id="agregar" onclick="location.href='/ventas/agregar'"><strong>+ Registrar venta</strong></button>
  {sales?.length ? (
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Valor total</th>
          <th>Fecha</th>
          <th class="botones">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {sales?.map((sale: Sale) => (
          <tr>
            <td hidden>{sale.id}</td>
            <td><strong>
              {productos.find(product => product.id === sale.product_id)?.name}  
            </strong></td>
            <td>{sale.quantity}</td>
            <td>${sale.total_price}</td>
            <td>{sale.sale_date}</td>
            <td class="botones">
              <a href={`/ventas/editar/${sale.id}`}>
                <button id="editar" class="icon-button" title="Editar" >
                  <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                </button>
              </a>
              <button id="borrar" class="icon-button" title="Eliminar" onclick={`borrarVenta(${sale.id}, this)`}>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
              </button>
            </td>
          </tr>
        ))}
      </tbody>
    </table>
  ) : (
    <p>No hay ventas</p>
  )}
  </div>
</Layout>

<script src="/src/js/ventas.js"></script>

<style>

  h1 {
    font-size: 3rem;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    text-align: center;
  }

  table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
  }

  th,
  td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }

  th {
    background-color: rgb(63, 65, 77);
  }

  .botones {
    width: 10rem;
  }

  svg {
    display: block;
    margin: 0 auto;
  }

  button {
    border: none;
    border-radius: 1rem;
    padding-left, padding-right: 0.5rem;
    padding-top, padding-bottom: 0.3rem;
  }
  
  button:hover, a:hover {
    cursor: pointer;
  }

  #editar {
    color: white;
    background-color: #007bff;
  }

  #borrar {
    color: white;
    background-color: #dc3545;
  }

  #buscar {
    color: white;
    background-color: #424365;
  }
  #agregar {
    color: white;
    background-color: #369e26;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border-radius: 0.87rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  .icon-button {
    width: 4rem;
    height: 2rem;
  }
  a {
    text-decoration: none;
    padding-top: 1rem;
  }
</style>